

/* Reset default styles */
html, body {
    margin: 0;
    padding: 0;
    background-color: #231123;
}

.main{
    color: #FFFFF0;
    border: #FFFFF0;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

.bookCardContainer {
    font-family: 'Open Sans', sans-serif;
}

.addBook {
    font-family: 'Lato', sans-serif;
}

/* header */
.header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #BDFFFD;
    box-shadow: 0px 8px 8px -6px rgba(255, 255, 255, 0.2);
}

  
.header-left {

    margin-right: auto;
    margin-left: 10px;
}

.header-right {
    margin-left: auto;
    margin-right: 10px;
}

.bookContainer{
    margin: 30px;
    display: grid;
    grid-gap: 20px 20px;
    grid-template: repeat(auto-fit, 200px) / repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding: 10px;
    
}

.bookCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFF0;
    padding: 10px;
background-color: #82204A;
box-shadow: #f5f5f5 0px 0px 10px 0px;
border-radius: 20px;
flex-direction: column;
align-items: flex-start;

}
.bookCard {
    width: 100%;
    height: 100%;
}

.bookCardHeader{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    
}

.bookCardHeaderLeft{
   margin-left: 10px;
}

.bookCardHeaderRight{
    margin-right: 10px;
    margin-left: auto;
    
}
.bookCardTitle {
    font-size: 20px; /* or 1.5em */
    font-weight: bold;
    margin-top: 15px;
}

.bookCardSubtitle {
    font-size: 16px; /* or 1em */
    font-weight: normal;
    color: #c5b9b9; 
}

.addBook {
    display: none;
}


.v-divider{
    border-left: 2px solid #FFFFF0;
    height: 100px;
    margin: 0 10px;
}

.h-divider{
    border-top: 2px solid #FFFFF0;
    width: 100%;
    margin: 10px 0;
}

.bookCardTitle {
    font-size: 23px; /* or 1.5em */
    font-weight: bold;
    margin-top: 10px;
}

.bookCardSubtitle {
    font-size: 16px; /* or 1em */
    font-weight: normal;
    color: #FFFFF0;; 
}

.bookCardBody{
    margin-left: 10px;
    padding: 5px;
}

.bookCardFooter{
    align-items: center;
    margin-left: 10px;
}

.addBook {
    display: none;
}


.v-divider{
    border-left: 2px solid #FFFFF0;
    height: 100px;
    margin: 0 10px;
}

.h-divider{
    border-top: 2px solid #FFFFF0;
    width: 100%;
    margin: 10px 0;
}

.sidePopup {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
}

.sidePopup a {
    padding: 8px 8px 0 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidePopup a:hover {
    color: #f1f1f1;
}

.sidePopup .closebtn {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 36px;
}


.formContainer{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFF0;
    padding: 10px;
}

form{
   
}

:root {
    --main-blue: #90caf9;
    --main-white: #fff;
    --main-grey: rgba(255, 255, 255, 0.23);
    --main-dark-grey: #121212;
    --main-ease: cubic-bezier(.65,.05,.36,1);
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #121212;
    color: var(--main-white);
}


/* OUTLINED INPUT STYLES */

.outlined-input {
    position: relative;
}

.outlined-input input {
    color: var(--main-white);
    height: 4rem;
    outline: 1px solid var(--main-grey);
    border-radius: 5px;
    border: none;
    background-color: var(--main-dark-grey);
    padding-left: 20px;
    font-size: 20px;
    transition: .1s var(--main-ease);
}

.outlined-input label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: var(--main-dark-grey);
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: .2s var(--main-ease);
    font-size: 1.5rem;
    pointer-events: none;
    padding: 0 5px;
}

.outlined-input input:not(:placeholder-shown) ~ label,
.outlined-input input:focus ~ label {
    top: 0px;
    left: 10px;
    font-size: 1rem;
}

.outlined-input input:focus {
    outline: 1px solid var(--main-blue) !important;
}
.outlined-input input:hover {
    outline: 1px solid var(--main-white);
}
.outlined-input input:focus ~ label {
    color: var(--main-blue) !important;
}

/* END OUTLINED INPUT STYLES */



/* STANDARD INPUT STYLES */

.standard-input {
    position: relative;
}

.standard-input input {
    color: var(--main-white);
    height: 4rem;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    background-color: var(--main-dark-grey);
    padding-left: 20px;
    font-size: 20px;
    transition: .1s var(--main-ease);
    outline: none;
    box-sizing: border-box;
    
}


.standard-input label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: var(--main-dark-grey);
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: .2s var(--main-ease);
    font-size: 1.5rem;
    pointer-events: none;
    padding: 0 5px;
}

.standard-input input:not(:placeholder-shown) ~ label,
.standard-input input:focus ~ label {
    top: 0px;
    left: 10px;
    font-size: 1rem;
}

.standard-input .underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.2s var(--main-ease);
    border-bottom: 2px solid var(--main-blue);
}

.standard-input input:focus ~ .underline {
    transform: scaleX(1);
}
.standard-input input:hover {
    border-bottom: 2px solid var(--main-white);
}
.standard-input input:focus ~ label {
    color: var(--main-blue) !important;
}


.input-container {
    margin: 20px 0;
    position: relative;
}
/*
celeste :#BDFFFD
dark purple :#231123
murrey :#82204A
*/